*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:rgba(0, 0, 0, 0.548);
    height:100vh;
    /* background-color:tra */
}
.container{
    margin:0 auto;
    width:95vw;
    /* background-color:rgba(255, 255, 255, 1); */
    /* height:100vh; */
    box-shadow: 0 10px 5px 1px black;
}

@media screen and (min-width:300px) {

    .header{
        /* background-color:aqua; */
        position: fixed;
        top:0;
        width:95vw;
        z-index: 50;
    }
    .burger{
        width:20px;
        height:2px;
        background-color:white;
        margin:20px 10px;
        position:relative;

    }
    .burger::after{
        content:'';
        width:20px;
        height:2px;
        background-color:white;
        display: block;
        margin-top:5px;
        position: absolute;
    }
    .burger::before{
        content:'';
        width:20px;
        height:2px;
        background-color:white;
        display: block;
        margin-top:-5px;
        position: absolute;
    }
    .header--ul{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: flex-start; */
        background-color: rgba(240, 248, 255, 0.944);
        width:100%;
        /* height:50vh; */
        padding:5px 0;
        border-bottom:1px solid black;
        box-shadow: 0 0px 5px 0 black;
        display: none;
        /* position: absolute;
        top:0;
        right:0; */
    }
    .header--ul:hover, .header--ul:focus{
        display: flex;
    }
    .burger:hover ~ .header--ul , .burger:focus  ~ .header--ul{
        display: flex;
        /* background-color: red; */
    }
    .burger::after:hover{
        display:none;
    }

    .header--link{
        list-style-type: none;
        margin:5px;
        border-left:1px solid black;
        border-bottom:1px solid black;

        border-radius: 5px;
        /* padding:2px 5px; */
        background-color:rgba(255, 255, 255, 0.404);
    }
    .header--link__a{
        text-decoration: none;
        color:black;
        display: inline-block;
        padding:2px 5px;
        border-radius: 5px;

    }

    .header--link:hover{
        background-color:white;
        border-left:1px solid transparent;
        border-bottom:1px solid transparent
    }

.new{
    margin:75px 0 0 0 ;
    padding:15px 0 30px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap:15px;
    background:linear-gradient(rgba(0, 255, 255, 0.5) 15% , rgba(255, 255, 255, 0.327) 50%)
}
.new--h3{
    text-align: center;
}
.new--h5{
    text-align: right;
}
.new--text{
    padding:10px;
    margin:5px;
    border-left:1px solid black;
    background-color:rgba(255, 255, 255, 0.8)
}
/* .new--info:nth-child(1){
    background: url(1.jpg) no-repeat;
    background-size: 200%;
}
.new--info:nth-child(2){
    background: url(2.jpg) no-repeat;
    background-size: 150%;
}
.new--info:nth-child(3){
    background: url(3.jpg) no-repeat;
    background-size: 150%;
} */

    .main-block{
        background:linear-gradient(rgba(255, 255, 255, 0.334) 5% , rgba(0, 255, 255, 0.507) 50%);
    }
.main-block--h1{
    margin:0 auto;
    text-align: center;
    font-size: 24px;
}
.main-block--avto{
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,1fr);
    grid-template-rows: repeat(7,minmax(10vw,45vw));
    gap:10px;
    padding:10px;
}
    .main-block--avto__link{
        background-color:rgba(245, 245, 245, 0.342);
        box-shadow: 0 0 3px 0 black;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .main-block--avto__link:hover{
        transform:scale(1.1)
    }
    .main-block--avto__link:nth-child(1){
        background-position-y: -10px;
        background-image: url(img/1.jpg);
    }
    .main-block--avto__link:nth-child(2){
        background-image: url(img/2.jpg);
    }
    .main-block--avto__link:nth-child(3){
        background-image: url(img/3.jpg);
    }
    .main-block--avto__link:nth-child(4){
        background-position-y: -15px ;
        background-image: url(img/4.jpg);
    }
    .main-block--avto__link:nth-child(5){
        background-position-y: -30px;
        background-image: url(img/5.jpg);
    }
    .main-block--avto__link:nth-child(6){
        background-image: url(img/6.jpeg);
    }
    .main-block--avto__link:nth-child(7){
        background-position-y: -20px ;
        background-image: url(img/7.jpeg);
        
    }
    
    .main-block--avto__info{
        width:100%;
        height:100%;
        background-color:rgba(0, 0, 0, 0.4);
        position: relative;
        display: none;
    }
    .main-block--avto__link:hover .main-block--avto__info , .main-block--avto__link:active .main-block--avto__info{
        display: block;
    }
    .main-block--avto__text{
        color:white;
        font-size: 16px;
        padding:5px 10px;
        border-bottom:1px solid white;
        background-color:rgba(0, 0, 0, 0.6);
    }
    .main-block--avto__button{
        /* display: inline-block; */
        position: absolute;
        bottom:10px;
        right:10px;
        background-color:aqua;
        padding:5px 10px;
        border:0;
        border-radius: 5px;
    }
    .main-block--avto__button::before{
        content:'';
        display: inline-block;
        width:10px;
        height:10px;
        /* border:5px solid black; */
        margin:0px 5px 0 0 ;
        background-color:black;
        transform: rotate(45deg);
    }
    .main-block--avto__a{
        text-decoration: none;
        color:black
    }

    .info{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
        gap:10px;
        background:linear-gradient(rgba(0, 255, 255, 0.534) 10%, rgba(255, 255, 255, 0.381) 90%);
        border-top:1px solid black;
        padding:5px;
    }
    .info--text{
        /* background-color:rgba(0, 0, 0, 0.1); */
        /* box-shadow: 0 0 5px 0 black; */
        padding:5px;
    }

    .footer{
        text-align: center;
        /* background-color:rgba(255, 255, 255, 0.356); */
        padding:5px;
        /* box-shadow: inset 0 0 5px 0 black; */
        /* border-radius: 15px; */
    }
    
}

@media screen and (min-width:501px) {
    .container{
        width:90vw;
    }
    .header{
        width:90vw;
    }
    .header--ul{
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        height:auto;
        /* justify-content: row; */
    }
    .burger{
        display: none;
    }
    .header--link__a{
        font-size: 18px;
    }
    .main-block--avto{
        grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,24vw);
    }

    .main-block--avto__text{
        font-size: 12px;
    }
    .main-block--avto__link:nth-child(7){
        grid-column: span 2;
        grid-row: span 14;
        background-position-y: -90px;
    }
    .info{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (min-width:1000px) {
    .header--link__a{
        font-size: 24px;
    }
    .new{
        grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    }
    .new--h3{
        display:none;
    }
    .main-block--avto{
        grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,16vw);
    }

    .main-block--avto__link:nth-child(7){
            grid-column: span 3;
            background-position-y: -200px;
    }

    .main-block--avto__text{
        font-size: 16px;
    }
    .info{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr;
        padding:15px;
    }

}
