*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(aqua 5%,black 50%,aqua 95%);
    height:100vh;
    /* background-color:tra */
}
.container{
    margin:0 auto;
    width:95vw;
    background-color:rgba(255, 255, 255, 1);
    height:100vh;
    box-shadow: 0 0 5px 1px black;
}

@media screen and (min-width:300px) {

    .header{
        background-color:aqua;
    }
    .header--ul{
        display:flex;
        justify-content: space-around;
        padding:5px 0;
        border-bottom:1px solid black;
        box-shadow: 0 0px 0.5px 0 black;
    }
    .header--link{
        list-style-type: none;
        margin:5px;
        border-left:1px solid black;
        border-bottom:1px solid black;

        border-radius: 5px;
        /* padding:2px 5px; */
        background-color:rgba(255, 255, 255, 0.404);
    }
    .header--link__a{
        text-decoration: none;
        color:black;
        display: inline-block;
        padding:2px 5px;
        border-radius: 5px;

    }

    .header--link:hover{
        background-color:white;
        border-left:1px solid transparent;
        border-bottom:1px solid transparent
    }
    .main-block{
        background:linear-gradient(aqua 5% , white 50%);
    }
.main-block--h1{
    margin:0 auto;
    text-align: center;
}
.main-block--avto{
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,22vw);
    gap:10px;
    padding:10px;
}
    .main-block--avto__link{
        background-color:rgba(245, 245, 245, 0.342);
        box-shadow: 0 0 3px 0 black;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .main-block--avto__link:hover{
        transform:scale(1.1)
    }
    .main-block--avto__link:nth-child(1){
        background-position-y: -10px;
        background-image: url(img/1.jpg);
    }
    .main-block--avto__link:nth-child(2){
        background-image: url(img/2.jpg);
    }
    .main-block--avto__link:nth-child(3){
        background-image: url(img/3.jpg);
    }
    .main-block--avto__link:nth-child(4){
        background-position-y: -15px ;
        background-image: url(img/4.jpg);
    }
    .main-block--avto__link:nth-child(5){
        background-position-y: -30px;
        background-image: url(img/5.jpg);
    }
    .main-block--avto__link:nth-child(6){
        background-image: url(img/6.jpeg);
    }
    .main-block--avto__link:nth-child(7){
        background-position-y: -20px ;
        background-image: url(img/7.jpeg);
    }
    
    .main-block--avto__info{
        width:100%;
        height:100%;
        background-color:rgba(0, 0, 0, 0.4);
        position: relative;
        display: none;
    }
    .main-block--avto__link:hover .main-block--avto__info , .main-block--avto__link:active .main-block--avto__info{
        display: block;
    }
    .main-block--avto__text{
        color:white;
        font-size: 14px;
        padding:5px 10px;
        border-bottom:1px solid white;
        background-color:rgba(0, 0, 0, 0.6);
    }
    .main-block--avto__button{
        /* display: inline-block; */
        position: absolute;
        bottom:10px;
        right:10px;
        background-color:aqua;
        padding:5px 10px;
        border:0;
        border-radius: 5px;
    }
    .main-block--avto__button::before{
        content:'';
        display: inline-block;
        width:10px;
        height:10px;
        /* border:5px solid black; */
        margin:0px 5px 0 0 ;
        background-color:black;
        transform: rotate(45deg);
    }
    .main-block--avto__a{
        text-decoration: none;
        color:black
    }
}